---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=3&card[exp_year]=2020&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_10444E4XNy2YPdwsjHxzWrfV",
          "livemode": false,
          "created": 1400526431,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_10444E4XNy2YPdwsXZQ7m92P",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 3,
            "exp_year": 2020,
            "fingerprint": "Y6WJ0n1gVFVTeAgP",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Mon, 19 May 2014 19:07:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=basic&card=tok_10444E4XNy2YPdwsjHxzWrfV&email=norma%40oconnell.org
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1400526431,
          "id": "cus_444E1nhCXseMob",
          "livemode": false,
          "description": null,
          "email": "norma@oconnell.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_444E1nhCXseMob/subscriptions",
            "data": [
              {
                "id": "sub_444EMQ3AAI6UVJ",
                "plan": {
                  "interval": "month",
                  "name": "Basic Myflix Plan",
                  "created": 1400521071,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1400526431,
                "status": "active",
                "customer": "cus_444E1nhCXseMob",
                "cancel_at_period_end": false,
                "current_period_start": 1400526431,
                "current_period_end": 1403204831,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_444E1nhCXseMob/cards",
            "data": [
              {
                "id": "card_10444E4XNy2YPdwsXZQ7m92P",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 3,
                "exp_year": 2020,
                "fingerprint": "Y6WJ0n1gVFVTeAgP",
                "customer": "cus_444E1nhCXseMob",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_10444E4XNy2YPdwsXZQ7m92P"
        }
  recorded_at: Mon, 19 May 2014 19:07:11 GMT
recorded_with: VCR 2.9.0
