---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_10448U4XNy2YPdws6VDZb5tr
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_10448U4XNy2YPdws6VDZb5tr",
          "created": 1400542267,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_10448U4XNy2YPdwstrbjIl8B",
              "object": "charge",
              "created": 1400542267,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_10448U4XNy2YPdwsTNun5RM5",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 10,
                "exp_year": 2014,
                "fingerprint": "Y6WJ0n1gVFVTeAgP",
                "customer": "cus_448UYAaUzkqYux",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_10448U4XNy2YPdwslp9RSSi6",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_448UYAaUzkqYux",
              "invoice": "in_10448U4XNy2YPdwsOtrXSVig",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_description": null
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_448UH5ORBA0TLH"
        }
  recorded_at: Tue, 20 May 2014 21:43:32 GMT
recorded_with: VCR 2.9.0
