---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1045FB4XNy2YPdwsiR87Okk9&email=lyda%40denesik.biz&plan=basic
    headers:
      Authorization:
      - Bearer sk_test_tO8yd15PGNgYGIUMU5Y5Vlgr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1400797792,
          "id": "cus_45FBvOCWgPfhz9",
          "livemode": false,
          "description": null,
          "email": "lyda@denesik.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_45FBvOCWgPfhz9/subscriptions",
            "data": [
              {
                "id": "sub_45FBBCmzeupnRV",
                "plan": {
                  "interval": "month",
                  "name": "Basic Myflix Plan",
                  "created": 1400521071,
                  "amount": 999,
                  "currency": "usd",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_description": null
                },
                "object": "subscription",
                "start": 1400797792,
                "status": "active",
                "customer": "cus_45FBvOCWgPfhz9",
                "cancel_at_period_end": false,
                "current_period_start": 1400797792,
                "current_period_end": 1403476192,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "cards": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_45FBvOCWgPfhz9/cards",
            "data": [
              {
                "id": "card_1045FB4XNy2YPdws3TIlc3bm",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "Y6WJ0n1gVFVTeAgP",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "customer": "cus_45FBvOCWgPfhz9"
              }
            ]
          },
          "default_card": "card_1045FB4XNy2YPdws3TIlc3bm"
        }
  recorded_at: Thu, 22 May 2014 22:29:52 GMT
recorded_with: VCR 2.9.0
